.images-list img {
    display: none;
}

.images-list img.visible {
    display: block;
}

.toi-text {
    /*display: none;*/
}

.toi-text.visible {
    display: block !important;
}

#main-body {
    height: 100vh;
}

#main-body.unloaded {
    overflow: hidden;
}

.preloader-wrapper.visible {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #000;
}

.logo-wrapper {
    position: absolute;
    height: 100px;
    width: 215px;
    bottom: 10px;
    left: 20px;
    background: url(/media/logo/ncsncs_logo.png);
    z-index: 24;
    /* background: #000; */
    background-size: cover;
    background-position: center;
}

footer {
    height: 50px;
    background: #000;
    width: 100%;
}

.outer_customize {
    background: #000;
    height: 25px;
    width: 100%;
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    left: 0px;
    padding: 12px 0 25px 23px;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: height;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 300ms;
    -moz-transition-property: height;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 300ms;
    -o-transition-property: height;
    -o-transition-timing-function: ease;
}

.outer_customize .dispview {
    background-repeat: no-repeat;
    background-color: red;
    background-position: right top;
    height: 24px;
    width: 29px;
    display: block;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition-duration: 200ms;
    -webkit-transition-property: background-position;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 200ms;
    -moz-transition-property: background-position;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 200ms;
    -o-transition-property: background-position;
    -o-transition-timing-function: ease;
}

.projects-container p {
    color: #555;
    text-align: center;
}